# Bezplatný token získaš na https://www.mapillary.com/dashboard/developers
# (Zaregistruj sa cez mapillary.com -> Developers -> Register application,
#  netreba platobnú kartu.)
#
# Rovnaký token vlož do OBOCH premenných nižšie:
# - MAPILLARY_TOKEN sa používa na serveri pri hľadaní náhodných miest
# - NEXT_PUBLIC_MAPILLARY_TOKEN sa posiela do prehliadača pre zobrazenie fotky

MAPILLARY_TOKEN=MLY|xxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_MAPILLARY_TOKEN=MLY|xxxxxxxxxxxxxxxxxxxxxxxxx
